<div class="add-inf">
    <p>Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
    <p>Доставка піци не здійснюється</p>
</div>

<div class="top-panel-container">
    <div class="top-panel">
        <div class="bookmark-top">
            <img src="assets/images/discount.svg">
            <span class="text">PIZZA KMA</span>
        </div>


        <div class="container add_information">
            <div class="row top-inf">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 telephone">(044)222 5 222</div>
                <div class="col-md-4 col-lg-3 hidden-sm hidden-xs syllabus">24 години/7 днів на тиждень</div>
                <div class="col-lg-4 hidden-md hidden-sm hidden-xs delivery">Безкоштовна доставка піци</div>

                <div class="sing-in-button col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <button class="btn-warning">Sign in</button>
                </div>
            </div>

            <div class="row bottom-inf">
                <span class="col-sm-12 hidden-xs">Pizza</span>
            </div>
        </div>
    </div>
</div>

<div class="bookmark-bottom">
    <img src="assets/images/discount.svg">
    <span class="text">ЦЬОГО ТИЖНЯ НА ВСЕ</span>
    <span class="discount">-20%</span>
</div>
